.forecast {
  border-top: 3px solid rgba(245, 245, 245, 0.336);
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.forecast li {
  text-align: center;
  padding: 5px;
  margin: 10px;
  list-style: none;
  color: whitesmoke;
}

.forecast li p {
  padding: 2px;
  margin: 0;
}

@media (max-width: 480px) {
  .forecast li {
    text-align: center;
    padding: 0px;
    margin: 10px 0px;
  }

  .forecast li img {
    width: 50px;
  }

  .forecast li p {
    font-size: 14px;
  }
}
